.default {
    --clr-t1-bg-1: hsl(222, 26%, 31%);
    --clr-t1-bg-2: hsl(223, 31%, 20%);
    --clr-t1-bg-3: hsl(224, 36%, 15%);

    --clr-t1-key-1: hsl(225, 21%, 49%);
    --clr-t1-key-2: hsl(224, 28%, 35%);
    --clr-t1-key-3: hsl(6, 63%, 50%);
    --clr-t1-key-4: hsl(6, 70%, 34%);
    --clr-t1-key-5: hsl(30, 25%, 89%);
    --clr-t1-key-6: hsl(28, 16%, 65%);

    --clr-t1-text-1: white;
    --clr-t1-text-2: hsl(221, 14%, 31%);
    --clr-t1-text-3: white;
}

.light {
    --clr-t1-bg-1: hsl(0, 0%, 90%);
    --clr-t1-bg-2: hsl(0, 5%, 81%);
    --clr-t1-bg-3: hsl(0, 0%, 93%);

    --clr-t1-key-1: hsl(185, 42%, 37%);
    --clr-t1-key-2: hsl(185, 58%, 25%);
    --clr-t1-key-3: hsl(25, 98%, 40%);
    --clr-t1-key-4: hsl(25, 99%, 27%);
    --clr-t1-key-5: hsl(45, 7%, 89%);
    --clr-t1-key-6: hsl(35, 11%, 61%);

    --clr-t1-text-1: hsl(60, 10%, 19%);
    --clr-t1-text-2: hsl(60, 10%, 19%);
    --clr-t1-text-3: white;
}

.dark {
    --clr-t1-bg-1: hsl(268, 75%, 9%);
    --clr-t1-bg-2: hsl(268, 71%, 12%);
    --clr-t1-bg-3: hsl(268, 71%, 12%);

    --clr-t1-key-1: hsl(281, 89%, 26%);
    --clr-t1-key-2: hsl(285, 91%, 52%);
    --clr-t1-key-3: hsl(176, 100%, 44%);
    --clr-t1-key-4: hsl(177, 92%, 70%);
    --clr-t1-key-5: hsl(268, 47%, 21%);
    --clr-t1-key-6: hsl(290, 70%, 36%);

    --clr-t1-text-1: hsl(52, 100%, 62%);
    --clr-t1-text-2: hsl(52, 100%, 62%);
    --clr-t1-text-3: white;
}
