.default {
  --clr-t1-bg-1: hsl(222, 26%, 31%);
  --clr-t1-bg-2: hsl(223, 31%, 20%);
  --clr-t1-bg-3: hsl(224, 36%, 15%);
  --clr-t1-key-1: hsl(225, 21%, 49%);
  --clr-t1-key-2: hsl(224, 28%, 35%);
  --clr-t1-key-3: hsl(6, 63%, 50%);
  --clr-t1-key-4: hsl(6, 70%, 34%);
  --clr-t1-key-5: hsl(30, 25%, 89%);
  --clr-t1-key-6: hsl(28, 16%, 65%);
  --clr-t1-text-1: white;
  --clr-t1-text-2: hsl(221, 14%, 31%);
  --clr-t1-text-3: white; }

.light {
  --clr-t1-bg-1: hsl(0, 0%, 90%);
  --clr-t1-bg-2: hsl(0, 5%, 81%);
  --clr-t1-bg-3: hsl(0, 0%, 93%);
  --clr-t1-key-1: hsl(185, 42%, 37%);
  --clr-t1-key-2: hsl(185, 58%, 25%);
  --clr-t1-key-3: hsl(25, 98%, 40%);
  --clr-t1-key-4: hsl(25, 99%, 27%);
  --clr-t1-key-5: hsl(45, 7%, 89%);
  --clr-t1-key-6: hsl(35, 11%, 61%);
  --clr-t1-text-1: hsl(60, 10%, 19%);
  --clr-t1-text-2: hsl(60, 10%, 19%);
  --clr-t1-text-3: white; }

.dark {
  --clr-t1-bg-1: hsl(268, 75%, 9%);
  --clr-t1-bg-2: hsl(268, 71%, 12%);
  --clr-t1-bg-3: hsl(268, 71%, 12%);
  --clr-t1-key-1: hsl(281, 89%, 26%);
  --clr-t1-key-2: hsl(285, 91%, 52%);
  --clr-t1-key-3: hsl(176, 100%, 44%);
  --clr-t1-key-4: hsl(177, 92%, 70%);
  --clr-t1-key-5: hsl(268, 47%, 21%);
  --clr-t1-key-6: hsl(290, 70%, 36%);
  --clr-t1-text-1: hsl(52, 100%, 62%);
  --clr-t1-text-2: hsl(52, 100%, 62%);
  --clr-t1-text-3: white; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: "Spartan";
  background-color: var(--clr-t1-bg-1);
  height: 100%;
  font-size: 2rem; }

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.calculator {
  width: 90%;
  max-width: 375px;
  color: var(--clr-t1-text-1); }
  .calculator__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .calculator__theme {
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
    width: 13rem; }
    .calculator__theme-label {
      text-transform: uppercase; }
    .calculator__theme-controller {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 2rem; }
    .calculator__theme-numbers {
      display: flex;
      justify-content: space-between; }
    .calculator__theme-toggler {
      height: 2rem;
      background-color: var(--clr-t1-bg-2);
      border-radius: 2rem;
      padding: 0.5rem;
      display: flex;
      align-items: center; }
      .calculator__theme-toggler:hover {
        cursor: pointer; }
    .calculator__theme-pointer {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: var(--clr-t1-key-3);
      transition: all 0.2s; }
      .calculator__theme-pointer--1 {
        transform: translateX(0); }
      .calculator__theme-pointer--2 {
        transform: translateX(1.8rem); }
      .calculator__theme-pointer--3 {
        transform: translateX(3.8rem); }
  .calculator__display {
    background-color: var(--clr-t1-bg-3);
    padding: 1.8rem;
    border-radius: 0.8rem;
    margin-bottom: 2rem; }
    .calculator__display-input:hover {
      cursor: pointer; }
    .calculator__display-input:focus {
      outline: none; }
    .calculator__display-input, .calculator__display-result {
      background-color: transparent;
      width: 100%;
      font-size: 3.2rem;
      border: none;
      text-align: right;
      font-weight: 700;
      color: var(--clr-t1-text-1); }
    .calculator__display-result {
      font-size: 2.2rem;
      color: var(--clr-t1-text-2); }
  .calculator__number-container {
    background-color: var(--clr-t1-bg-2);
    border-radius: 0.5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem; }
  .calculator__btn {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--clr-t1-text-2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 4px var(--clr-t1-key-6);
    border-radius: 0.3rem;
    padding: 0.8rem 0;
    background-color: var(--clr-t1-key-5); }
    .calculator__btn--times {
      text-transform: lowercase; }
    .calculator__btn--del {
      font-size: 1.5rem;
      background-color: var(--clr-t1-key-1);
      color: var(--clr-t1-text-3);
      box-shadow: 0 4px var(--clr-t1-key-2); }
    .calculator__btn--reset {
      font-size: 1.5rem;
      grid-column: 1 / span 2;
      background-color: var(--clr-t1-key-1);
      color: var(--clr-t1-text-3);
      box-shadow: 0 4px var(--clr-t1-key-2); }
    .calculator__btn--equal {
      font-size: 1.5rem;
      background-color: var(--clr-t1-key-3);
      grid-column: 3 / span 2;
      color: var(--clr-t1-text-3);
      box-shadow: 0 4px var(--clr-t1-key-4); }
    .calculator__btn:hover {
      cursor: pointer;
      opacity: 0.8; }
